Theme Assignments/Theme Assignment 2/TA.xsd

<?xml version="1.0"?>
<!--Francois Smith u21649988-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="myType">
                    <xs:attribute name="version" type ="xs:string"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:simpleType name="myType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

</xs:schema> 